__pycache__
*.pyc
.ruff_cache

.DS_Store

newtheory.xml
translated.xml
newtheory_secret.json
newtheory.iso
english.iso
DATA.txt
extracted/
/DATA/
DAT.txt
translated/
decompiled/
/csv/
/font/
graphics/orig
graphics/edited
asm/strings.asm
DAT/
